$header-bgcolor:white;
$input-padding:10px;
$input-border-radius:4px;
$input-border:1px solid #ccc;
$input-font-size: 16px;
$joinButton-bgcolor:#007bff;
$deleteButton-bgcolor: rgba(209, 39, 39, 0.863)